/* Footer */
body{
    font-family: "Poppins",sans-serif;
}


.fa{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.fa:hover {
    opacity: 1.0;
    text-decoration: none;
}

.fa-instagram:hover {
    color: rgb(224, 84, 119);

}

.fa-twitter:hover {
    color: rgb(0, 172, 238);

}

.fa-youtube:hover {
    
    color: rgb(255, 0, 0);
}

.fa-facebook-square:hover{
    color: rgb(59,89,152);
   
}

.footer {
    padding-top: 30px;
    bottom: 0;
    background-color: #c28400;
    z-index: 2;
}


.link{
    color: white;
    font-weight: bold;
}

.link-left{
    margin-left: 30px;
}

.link-right{
    margin-right: 30px;
}

.link:hover{
    color: rgb(238, 238, 238);
    text-decoration: none;
}

.hashtag{
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.link-container{
    margin-top: 20px;
    padding-bottom: 15px;
}


@media only screen and (max-width: 600px) {
    .fa {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }

    .link-container{
        margin-top: 20px;
        font-size: 120%;
    }

    .page-links{
        display: none;
    }

    .link-left, .link-right{
        display: none;
    }

}

@media (min-width:641px) and (max-width:1000px) {
    .link-left, .link-right{
        display: none;
    }
}
/* Footer End */