@font-face {
    font-family: 'ZonaProUltra';
    src: url("/Fonts/ZonaPro-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: 'ZonaProUltra';
    font-weight: bold;
    src: url("/Fonts/ZonaPro-Bold.otf") format("opentype");
}




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    color: #c28400;
}


input[type="number"]:focus {
    outline: none;
}

input[type="number"]:focus::placeholder {
    color: white;
}

input[type="text"]{
    background-color: #fceee1;
    border: 0.5px solid #e9cea0;   
    color: #c28400;
}

input[type="text"]::placeholder{
    
}

input[type="text"]:focus {
    outline: none;
    background-color: #dcbe89;
    color: white;
}

input[type="text"]:focus::placeholder {
    color: white;
}

.checkbox{
    outline: #125688;
}




input[type="checkbox"]:checked{
    background-color: #dcbe89;
    border: 0.5px solid #c28400;
}

input[type="checkbox"]{
    border: 0.5px solid #c28400;
}

input[type="checkbox"]:focus{
    box-shadow: none;
    border: 0.5px solid #c28400;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: normal;
    color: #e2ac4d;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: normal;
    color: #e2ac4d;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-weight: normal;
    color: #e2ac4d;
  }

  

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Body */
*{
    
    font-family: 'Poppins', sans-serif;
}
/* Body end */




/* Background beach video */
#background-beach-container {
    padding-top: 100px;
    background-repeat: no-repeat;
    width: auto;
    height: 150vh;
}

@media only screen and (max-width: 600px) {
    #background-beach-container {
        height: 100vh;
    }

}

/* Video settings */
.video_beach {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 150vh;
    object-fit: cover;
    opacity: 1;
    margin-left: -15px;
    
}

@media only screen and (max-width: 600px) {
    .video_beach {
        width: 100%;
        height: 100vh;
    }

}
/* Video settings end */


/* Big text */
#currentProgress {
    font-family: 'ZonaProUltra', sans-serif;
    font-size: 6vw;
    font-weight: bold;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.603);
}

@media only screen and (max-width: 600px) {
    #currentProgress {
        font-size: 12vw;
    }

}

#totalDonation {
    font-family: 'ZonaProUltra', sans-serif;
    padding-top: 35vh;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.603);
}

@media only screen and (max-width: 600px) {
    #totalDonation {
        padding-top: 20vh;
        font-size: 6vw;
    }

}
/* Big text end */



/* Background Beach Video end */

/* Donation cards area */
#btnKgRight {
    width: 100%;
    margin-top: 8px;
    height: 5.5vh;
    border-radius: 8px;
    border: 0.5px solid #e9cea0;
    color: #e2ac4d;
    background-color: #fceee1;
    font-size:small ;
    margin-left: -20px;

}

#btnKgLeft {
    width: 100%;
    margin-top: 8px;
    height: 5.5vh;
    border-radius: 8px;
    border: 0.5px solid #e9cea0;
    color: #e2ac4d;
    background-color: #fceee1;
    font-size:small ;
    margin-right: -20px;

}
@media only screen and (max-width: 600px) {
    #btnKgLeft {
        margin-right: 0px;
    }

    #btnKgRight {
        margin-left: 0px;
    }
}




#btnSubmit {
    color: white;
    margin-top: 15px;
    height: 5.5vh;
    border-radius: 30px;
    border: 0.5px solid #e9cea0;
    background-color: #c28400;
    font-weight: bold;
    font-size: large;
    
}

#btnSubmit:hover {
    background-color: #dab77b;
}



#donationCard {
    transform: scale(1.0);
    margin-top: -10vh;
    align-self: center;
    width: 60%;
    border: 0.5px solid rgba(29, 29, 29, 0.281);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.247);
    margin-bottom: 10vh;
}

#donationCard2 {
    transform: scale(1.0);
    margin-top: -10vh;
    align-self: center;
    width: 60%;
    border: 0.5px solid rgba(29, 29, 29, 0.281);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.247);
    margin-bottom: 10vh;
    display: block;
}

@media only screen and (max-width: 600px) {
    #donationCard {
        transform: scale(1.0);
        width: 100%;
        margin-top: -10vh;
    }
    #donationCard2 {
        transform: scale(1.0);
        width: 100%;
        margin-top: -10vh;
    }
    #btnKg{
        width: 80%;
        height: 7vh;
    }
    #btnSubmit{
        width: 80%;
        height: 7vh;
    }

}

.card-body h1 {
    font-weight: bold;

}

#areaDonasi {
    background-image: url(/Images/bottom_background.png),linear-gradient(to bottom,white , #fdf1d6);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: bottom;

    z-index: 1;

}

.map-container{
    width: 60%;
    margin-left: 20%;
    padding-bottom: 20vh;
}

#amountDonation {
    border-radius: 8px;
    border: 0.5px solid #e9cea0;
    background-color: #fceee1;
    width: 94%;
    margin-top: -15px;
    height: 5vh;
    padding-left: 1vw;
    font-weight: bold;
    color: white;
}


#errorInputKgTab {
    color: red;
    font-weight: bold;
    padding-left: 3%;
    padding-top: 1vh;
    font-size: small;
}

@media only screen and (max-width: 600px) {
    #errorInputKgTab {
        padding-left: 5%;
    }

    #amountDonation{
        width: 100%;
        height: 7vh;
        margin-top: -15px;
    }

}

.inputDetails {
    border-radius: 8px;
    border-width: 0.5px;
    border-color: rgba(128, 128, 128, 0.178);
    width: 100%;
    height: 5vh;
    padding-left: 1vw;
    font-weight: bold;
    margin-bottom: 3vh;
}



.inputDetails:focus {
    background-color: #ffcc5e;
    border-width: 0.5px;
    border-color: rgba(128, 128, 128, 0.178);
}

.labelInputs{
    font-weight: bold;
    color: #d8b16f;
}

#paymentOption{
    background-color: #fceee1;
    border: 0.5px solid #e9cea0;   
    color: #c28400;
}

option:hover{
    background-color: yellow;
}


#anonymousCheckbox {
    padding-left: 20px;
}





#previousCard {
    font-weight: bold;
    color: #c28400;
}

#previousCard:hover {
    color: #b67d03;
    text-decoration: underline;
}
/* Donation cards area end*/

/* Leaderboard */

#backgroundSwitch{
    margin-top: 50px;
    background-color: rgb(199, 198, 198);
    margin-bottom: 5vh;
    width: max-content;
    border-radius: 100px;
    display: inline-flex;
    text-align: center;
    height: fit-content;
    z-index: -1;

}

#switchInner1{
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    width: 15vw;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    font-weight: bold;
    top: 50%;
    font-size: small;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.247);
}

#switchInner2{
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    width: 15vw;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100px;
    font-weight: bold;
    top: 50%;
    font-size: small;
 }

.search{
    
    background-color: white;
    width: max-content;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.247);
}


.search input{
    height: 6vh;
    background-color: white;
    border: none;
    border: none;
    border-radius: 100px;
    background: none;
    width: 28vw;
    padding-left: 15px;

}

.search input:focus{
    background:white;
    color: #c28400;
}
.search button{
    padding-right: 15px;
    margin-right: 0.1vw;
    border-radius: 100px;
    border: none;
    background:none;
}

.container-leaderboard{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.247);
    background-image: linear-gradient(to bottom,white , #fdf1d6);
    border-radius: 10px;
    width: 40vw;
    margin-top: 8%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#badge{
    width: 70px;
    margin-left: -35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.block-text-leaderboard{
    display: inline-block;
    margin-top: 23px;
    vertical-align: middle;
    margin-bottom: 20px;
    padding-left: 30px;
    width: 25vw;
}

.block-text-right-leaderboard{
    background-color: #c28400;
    position:absolute;
    display: inline;
    vertical-align: middle;
    padding: 10px;
    padding-bottom: 0;
    right: 8vw;
    border-radius: 100px;
    width: 6vw;
}

.leaderboard-amount{
    font-size: large;
    color: white;
    font-weight: bold;
}

#nama-leaderboard{
    font-size: 18px;
    font-weight: bold;
}

#pesan-leaderboard{
    font-size: 15px;
    font-weight: lighter;
}

.timestamp{
    font-size: 10px;
}

#bottom_background{
    height: auto;
    width: 100vw;
}

.separator{
    margin-top: -1vh;
    width: 100vw;
    height: 10vh;
    background-color: #e0c796;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 0;
    margin-bottom: 10vh;
}

.location-container{
    background: linear-gradient(to bottom,white , #ffcf5f);
}

#map-image{
    width: 90vw;
    margin-bottom: 10vh;
}

.project-location-title{
    font-weight: bold;
    font-family: 'ZonaProUltra', sans-serif; 
    padding-top:15vh;
    padding-bottom: 10vh;
    width: 50vw;
}

#map {
    min-height: 150px;
    min-width: 150px;
    height: 600px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #dab77b;
}

#map .infoTitle {
    /*marker window title styles*/
}

#map .infoWebsite {
    /*marker window website styles*/
}

#map .infoEmail {
    /*marker window email address styles*/
}

#map .infoTelephone {
    /*marker window telephone styles*/
}

#map .infoDescription {
    /*marker window description styles*/
}


@media only screen and (max-width: 600px) {
    #switchInner1 {
        font-size: smaller;
        width: 35vw;
        height: fit-content;
    }
    #switchInner2 {
        font-size: smaller;
        width: 35vw;
        height: fit-content;
    }
    #backgroundSwitch{
    }

    .search input{
        width: 65vw;
    }

    #badge{
        margin-left: 15px;
        width: 50px;
    }


    .leaderboard-body{
       margin-bottom: 0px;
    }

    .container-leaderboard{
        
        width: 95vw;
        height: 10vh;
    }

    .block-text-leaderboard{
        
        padding-left: 20px;
        margin-bottom: 15px;
        position: relative;
        width: 50vw;
    }

    .block-text-right-leaderboard{
        width: 20vw;
        right: 3vw;
    }


    .project-location-title{
        width: 90vw;
    }

    #nama-leaderboard{
        font-size: small;

    }
    
    #pesan-leaderboard{
        font-size: small;

    }

    .leaderboard-amount{
        font-size: smaller;
    }

    #areaDonasi{
        background-size: 200vh;
    }
    .map-container{
        margin-left: 0;
        width: 100%;
    }
}

/* Leaderboard end */



@media (min-width:641px) and (max-width:1000px) {
    #areaDonasi{
        margin-top: -0.5vh;
    }

    #totalDonation{
        margin-top: 30px;
        font-size: 40px;
    }

    #currentProgress{
        font-size: 80px;
    }

    #donationCard , #donationCard2{
        margin-left: -50vw;
        width: 120%;
    }

    .leaderboard-image{
        width: 50vw;
        transform:  scale(2.0);
    }

    .search input{
        width: 70vw;
    }

    .search button{
        display: none;
    }

    #areaDonasi{
        background-size: 200vh;
    }
    

    .container-leaderboard{
        width: 70vw;
    }

    #backgroundSwitch{
        margin-left: -13vw;
    }

    .project-location-title{
        width: 90vw;
    }

    #switchInner1{
        width: 35vw;

    }
    #switchInner2{
        width: 35vw;
    }

    .block-text-leaderboard{
        width: 50vw;
        
    }

    #pesan-leaderboard{
        font-size: 14px;
    }

    .block-text-right-leaderboard{
        width: 150px;
        margin-right: -15vw;
    }

    .location-container{
        margin-top: -0.3vh;
    }

    .separator{
        margin-top: -0.5vh;
    }
    .map-container{
        margin-left: 10vw;
        width: 80vw;
    }
 }

